# Copia questo file come ".env" e inserisci la tua DATABASE_URL di Neon
# La trovi su https://console.neon.tech dopo aver creato il database
DATABASE_URL="postgresql://USER:PASSWORD@ep-xxx.region.aws.neon.tech/datafood?sslmode=require"